<div class="banner-image">
  <div class="banner-text">
    <h1 style="font-size:50px">My Expert Cocktails</h1>
    <p>Never forgot a Drink recipe again!</p>
  </div>
</div>
<br><br>

<% @cocktails.each do |cocktail| %>
    <h3><%= link_to cocktail.name, cocktail_path(cocktail)  %></h3>
<% end  %>

<br>
<%= link_to "Create a new Cocktail", new_cocktail_path %>